
.btn-group-vertical {
    box-sizing: border-box;
    width: 280px;
}

.home {
    background-color: black;
    color: white;
}

.name, .about, .contact {
    background-color: #222222;
    color: lightgray;
    padding-right: 3px;
}

nav {
    background-color: #222222;
    color: lightgray;
    margin-bottom: 10px;
    padding: 6px;
}

header {
    background-color: lightgray;
    padding: 15px 80px 15px 80px;
    border-radius: 7px;

}

footer {
    margin-top: 40px;
}